.artefact-list {
  flex-wrap: wrap;
  margin-bottom: -25px;

  & li {
    margin-bottom: 25px;
    padding-right: 50px;
  }
}

.artefact-list-track {
  margin-right: -50px;

  @include media-up(sm) {
    margin-right: 0;
  }
}
