.artefact-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}

.artefact-list-item {
  margin-top: 25px;
  padding-right: 50px;
}

.artefact-list-track {
  margin-right: -50px;

  @include media-up(sm) {
    margin-right: 0;
  }
}
