.btn {
  position: relative;
  z-index: 0;

  display: inline-block;

  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;

  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  background: none;
}

.btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  transition: filter var(--transition-duration) linear;

  content: "";
}

.btn:hover::before {
  filter: brightness(0.8);
}

.btn-small {
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn-round {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 32px;
}

.btn-primary::before {
  background-color: var(--color-main);
}

.btn-secondary::before {
  background-color: var(--color-secondary);
}

.btn-outline-white {
  border-color: var(--color-white);
}

.btn-outline-white:hover {
  color: var(--color-black);

  background-color: var(--color-white);
}

.btn-outline-darken {
  border-color: var(--color-darken);
}

.btn-outline-darken:hover {
  color: var(--color-black);

  background-color: var(--color-darken);
}
