.footer-nav {
  @include media-up(sm) {
    display: flex;
  }
}

.footer-nav-block {
  &:not(:first-child) {
    margin-top: 30px;

    @include media-up(sm) {
      margin-top: 0;
    }
  }

  @include media-up(sm) {
    --nav-block-gap: 40px;

    width: calc((100% - var(--nav-block-gap) * 3) / 4);

    &:not(:last-child) {
      margin-right: var(--nav-block-gap);
    }
  }
}
