.header {
  position: absolute;
  top: 25px;
  left: 0;

  font-size: 11px;
}

.header-nav {
  margin-top: 15px;
  margin-bottom: 15px;

  @include media-up(sm) {
    margin: 0 auto 0 90px;
  }
}

.header-nav-item {
  @include media-up(sm) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &.active {
    a {
      color: var(--color-white);
    }
  }
}

.header-search {
  padding: 5px 10px;
  border: 0;
  border-radius: 50px;

  line-height: 1;

  outline: none;

  @include media-up(sm) {
    width: 248px;
  }
}
