.hero {
  @extend %bg-image;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-home {
  background-image: url("../images/banner.png");
}

.hero-artist {
  background-image: url("../images/Morten Harket.png");
}
