.track {
  display: flex;
  flex-grow: 1;
  align-items: center;

  font-size: 12.8px;
}

.track-info {
  margin-right: auto;
  margin-left: 16px;
}

.track-list {
  flex-wrap: wrap;

  & li {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    @include media-up(sm) {
      padding-right: 50px;

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }
}
