@import "fonts";

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-light-darken);
  font: 16px/1.5 var(--font-main);

  background-color: var(--color-black);
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;

  @include media-up(sm) {
    font-size: 60px;
  }
}

h2 {
  font-size: 18px;

  @include media-up(sm) {
    font-size: 38px;
  }
}

h3 {
  font-size: 16px;

  @include media-up(sm) {
    font-size: 24px;
  }
}
