$top-margins: (16, 24, 30, 48, 64);
$top-sm-margins: (0);
$right-margins: (24);
$bottom-margins: (0, 24);
$left-margins: (16, 24);
$left-sm-margins: (16, 24);
$top-paddings: (32, 48, 100);
$bottom-paddings: (32, 48, 100);

@each $value in $top-margins {
  .mt-#{$value} {
    margin-top: #{$value}px;
  }
}

@each $value in $top-sm-margins {
  .mt-sm-#{$value} {
    @include media-up(sm) {
      margin-top: #{$value}px;
    }
  }
}

@each $value in $right-margins {
  .me-#{$value} {
    margin-right: #{$value}px;
  }
}

@each $value in $bottom-margins {
  .mb-#{$value} {
    margin-bottom: #{$value}px;
  }
}

@each $value in $left-margins {
  .ms-#{$value} {
    margin-left: #{$value}px;
  }
}

@each $value in $left-sm-margins {
  .ms-sm-#{$value} {
    @include media-up(sm) {
      margin-left: #{$value}px;
    }
  }
}

@each $value in $top-paddings {
  .pt-#{$value} {
    padding-top: #{$value}px;
  }
}

@each $value in $bottom-paddings {
  .pb-#{$value} {
    padding-bottom: #{$value}px;
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-sm-auto {
  @include media-up(sm) {
    margin-right: auto;
    margin-left: auto;
  }
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-sm-25 {
  @include media-up(sm) {
    width: 25%;
  }
}

.max-w-570 {
  max-width: 570px;
}

.max-w-sm-50p {
  @include media-up(sm) {
    max-width: 50%;
  }
}
