@each $color-name, $color in $colors {
  .text-#{$color-name} {
    color: $color;
  }
}

.text-decoration-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}
