.d-flex {
  display: flex;
}

.d-sm-flex {
  @include media-up(sm) {
    display: flex;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-sm-row {
  @include media-up(sm) {
    flex-direction: row;
  }
}

.flex-grow-1 {
  flex-grow: 1;
}

.order-sm-first {
  @include media-up(sm) {
    order: -1;
  }
}

.align-items-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-text-top {
  vertical-align: text-top;
}

.fill-current {
  fill: currentColor;
}
