:root {
  --font-main: "Roboto", sans-serif;
  --transition-duration: 0.2s;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-black: #08020d;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-white: #fff;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-dark: #3c3b3d;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-light: #e0e0e0;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-darken: #cacaca;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-main: #34c176;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-accent: #5328a1;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-secondary: #95390c;
}

:root {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-info: #f89202;
}

.pricing-item, .hero {
  background-position: center;
  background-size: cover;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body {
  color: var(--color-darken);
  font: 16px/1.5 var(--font-main);
  background-color: var(--color-black);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 18px;
}
@media screen and (min-width: 576px) {
  h2 {
    font-size: 38px;
  }
  footer h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.bg-black {
  background-color: #08020d;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #3c3b3d;
}

.bg-light {
  background-color: #e0e0e0;
}

.bg-darken {
  background-color: #cacaca;
}

.bg-main {
  background-color: #34c176;
}

.bg-accent {
  background-color: #5328a1;
}

.bg-secondary {
  background-color: #95390c;
}

.bg-info {
  background-color: #f89202;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.link-text {
  text-decoration-line: none;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--transition-duration);
}
.link-text:hover {
  text-decoration-color: inherit;
}
.link-text:active {
  opacity: 0.8;
}

.link-icon img {
  transition: transform var(--transition-duration);
}

.link-icon:hover img {
  transform: scale(1.1);
}

.link-icon:active {
  opacity: 0.6;
}

.border-bottom-1-light {
  border-bottom: 1px solid var(--color-light);
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-100 {
  margin-top: 100px;
}

@media screen and (min-width: 576px) {
  .mt-sm-0 {
    margin-top: 0px;
  }
}

@media screen and (min-width: 576px) {
  .mt-sm-30 {
    margin-top: 30px;
  }
}

.me-24 {
  margin-right: 24px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ms-16 {
  margin-left: 16px;
}

.ms-24 {
  margin-left: 24px;
}

@media screen and (min-width: 576px) {
  .ms-sm-16 {
    margin-left: 16px;
  }
}

@media screen and (min-width: 576px) {
  .ms-sm-24 {
    margin-left: 24px;
  }
}

.pt-40 {
  padding-top: 40px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .mx-sm-auto {
    margin-right: auto;
    margin-left: auto;
  }
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

@media screen and (min-width: 576px) {
  .w-sm-25 {
    width: 25%;
  }
}

.max-w-570 {
  max-width: 570px;
}

@media screen and (min-width: 576px) {
  .max-w-sm-50p {
    max-width: 50%;
  }
}

.d-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .d-sm-flex {
    display: flex;
  }
}

.flex-column {
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row;
  }
}

@media screen and (min-width: 576px) {
  .order-sm-first {
    order: -1;
  }
}

.align-items-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-text-top {
  vertical-align: text-top;
}

.fill-current {
  fill: currentColor;
}

.text-black {
  color: #08020d;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #3c3b3d;
}

.text-light {
  color: #e0e0e0;
}

.text-darken {
  color: #cacaca;
}

.text-main {
  color: #34c176;
}

.text-accent {
  color: #5328a1;
}

.text-secondary {
  color: #95390c;
}

.text-info {
  color: #f89202;
}

.text-decoration-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 12.8px;
}

.fw-normal {
  font-weight: normal;
}

.header {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 11px;
}

.header-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 576px) {
  .header-nav {
    margin: 0 auto 0 90px;
  }
}

@media screen and (min-width: 576px) {
  .header-nav-item:not(:last-child) {
    margin-right: 24px;
  }
}
.header-nav-item.active a {
  color: var(--color-white);
}

.header-search {
  padding: 5px 10px;
  border: 0;
  border-radius: 50px;
  line-height: 1;
  outline: none;
}
@media screen and (min-width: 576px) {
  .header-search {
    width: 248px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-home {
  background-image: url("../images/banner.png");
}

.hero-artist {
  background-image: url("../images/Morten Harket.png");
}

.form-input {
  flex-grow: 1;
  min-width: 270px;
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid var(--color-darken);
  border-radius: 3px;
  color: inherit;
  font-weight: 700;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.form-input::placeholder {
  color: inherit;
}

.form-input:focus {
  border-color: var(--color-main);
}

.btn {
  position: relative;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  background: none;
}

.btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: filter var(--transition-duration) linear;
  content: "";
}

.btn:hover::before {
  filter: brightness(0.8);
}

.btn-small {
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn-round {
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 32px;
}

.btn-wide {
  width: 200px;
}

.btn-start {
  justify-content: start;
}

.btn-primary::before {
  background-color: var(--color-main);
}

.btn-secondary::before {
  background-color: var(--color-secondary);
}

.btn-accent::before {
  background-color: var(--color-accent);
}

.btn-outline-white {
  border-color: var(--color-white);
}

.btn-outline-white:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-outline-darken {
  border-color: var(--color-darken);
}

.btn-outline-darken:hover {
  color: var(--color-black);
  background-color: var(--color-darken);
}

.pricing-item {
  padding: 16px 1.5rem 50px;
  border-radius: 1rem;
  color: var(--color-white);
  text-align: center;
}
.pricing-item:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (min-width: 576px) {
  .pricing-item {
    padding-top: 24px;
  }
  .pricing-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.pricing-item-free {
  background-image: url("../images/subscribe_1.png");
}

.pricing-item-standart {
  background-image: url("../images/subscribe_2.png");
}

.pricing-item-premium {
  background-image: url("../images/subscribe_3.png");
}

.pricing-value {
  margin-top: 200px;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}

.pricing-currency {
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  vertical-align: super;
}

@media screen and (min-width: 576px) {
  .news-item {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 576px) {
  .news-image {
    flex-shrink: 0;
  }
}

.news-body {
  margin-top: 48px;
}
@media screen and (min-width: 576px) {
  .news-body {
    margin-top: 0;
    margin-left: 50px;
  }
}
@media screen and (min-width: 576px) {
  .news-item-reverted .news-body {
    order: -1;
    margin-right: 50px;
    margin-left: 0;
  }
}

.news-title {
  font-weight: normal;
  text-transform: capitalize;
}
@media screen and (min-width: 576px) {
  .news-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 576px) {
  .footer-nav {
    display: flex;
  }
}

.footer-nav-block:not(:first-child) {
  margin-top: 30px;
}
@media screen and (min-width: 576px) {
  .footer-nav-block:not(:first-child) {
    margin-top: 0;
  }
}
@media screen and (min-width: 576px) {
  .footer-nav-block {
    --nav-block-gap: 40px;
    width: calc((100% - var(--nav-block-gap) * 3) / 4);
  }
  .footer-nav-block:not(:last-child) {
    margin-right: var(--nav-block-gap);
  }
}

.track {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 12.8px;
}

.track-info {
  margin-right: auto;
  margin-left: 16px;
}

.artefact-list {
  flex-wrap: wrap;
  margin-bottom: -25px;
}
.artefact-list li {
  margin-bottom: 25px;
  padding-right: 50px;
}

.artefact-list-track {
  margin-right: -50px;
}
@media screen and (min-width: 576px) {
  .artefact-list-track {
    margin-right: 0;
  }
}

.artefact-rounded img {
  border-radius: 50%;
}

.artefact-title {
  margin-top: 18px;
  font-size: 18px;
  text-transform: capitalize;
}